doctype html

html
  head
    title ServStat
    link(rel='stylesheet' href='../node_modules/semantic-ui-css/semantic.min.css')
    link(rel='stylesheet' href='./index.less')
  
  body
    #app
    script(src='./index.ts')
